// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: var(--base-font),
      density: 0,
    )
  );
  @include mat.tooltip-overrides(
    (
      container-color: var(--over-surface-primary),
      supporting-text-color: var(--over-text-primary),
      supporting-text-size: calc(var(--size-base) * 0.875),
    )
  );
  @include mat.sidenav-overrides(
    (
      container-background-color: var(--surface-primary),
      container-text-color: var(--text-primary),
      container-divider-color: var(--shadow-1),
      container-elevation-shadow: var(--elevation-1),
      container-shape: 0,
      container-width: 280px,
    )
  );
  @include mat.tabs-overrides(
    (
      active-indicator-color: var(--google-sky-blue),
      active-label-text-color: var(--google-sky-blue),
      inactive-label-text-color: var(--text-primary),
    )
  );
  @include mat.dialog-overrides(
    (
      container-color: var(--dialog-surface),
    )
  );
}

.mat-tab-button {
  @include mat.button-overrides(
    (
      outlined-container-shape: 4px,
      outlined-horizontal-padding: 16px,
      outlined-container-height: 36px,
      outlined-outline-width: fit-content,
      outlined-outline-color: var(--google-soft-gray),
    )
  );
}
