:root {
  /* Google Word */
  --google-blue: #4285f4;
  --google-red: #ea4335;
  --google-yellow: #fbbc05;
  --google-green: #34a853;

  --google-base-font: 'Google Sans', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  --google-product-font: 'Product Sans', Arial, sans-serif;

  --google-light-blue: #f8fafd;
  --google-gray-blue: #f5f5f5;
  --google-pale-blue: #e9eef6;
  --google-sky-blue: #1a73e8;
  --google-soft-gray: #dadce0;
  --google-dark-gray: #3c4043;
  --google-darker-gray: #3c4043e6;
  --google-gray: #757575;
  --google-bright-blue: #2962ff;
  --google-mid-blue: #1967d2;
  --google-dark-gray-2: #5f6368;
  --google-deep-blue: #0b57d0;
  --google-medium-gray: #444746;
  --google-neutral-gray: #444444;
  --google-light-gray: #3c404361;
  --google-deep-black: #1f1f1f;
  --google-blue-1f: #4285f41f;
  --google-black-de: #000000de;
  --google-black-8a: #0000008a;
  --google-black-0a: #0000000a;

  --base-font: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Arial, sans-serif;
  --white: #ffffff;
  --black: #000000;
  --text-primary: #606469;
  --text-secondary: #47484a;
  --surface-primary: var(--white);
  --shadow-1: #0000001f;
  --elevation-1: 0 0 16px #00000047;
  --over-surface-primary: #44474e;
  --over-text-primary: var(--white);
  --size-base: 16px;

  --dialog-surface: var(--white);

  --error-surface: #f8d7da;
  --error-text: #791919;

  --info-surface: var(--white);
  --info-text: var(--google-deep-black);
}

/* Dark color theme */
@media (prefers-color-scheme: dark) {
  :root {
    --surface-primary: #1b1c1d;
    --text-primary: #c8cfd1;
    --text-secondary: var(--white);
    --shadow-1: var(#0a0d10);
    --over-surface-primary: #2c2f35;
    --dialog-surface: var(--over-surface-primary);
    --info-surface: #1c2229;
    --info-text: var(--google-light-blue);
    --error-surface: #390005;
    --error-text: #e9d6d6;
    --google-gray-blue: var(--info-surface);
  }
}
