@import 'tailwindcss';

@theme {
  --color-icon-color: var(--text-secondary);
  --color-border-shadow: var(--shadow-1);
  --font-family-base: var(--google-base-font);
  --color-surface-primary: var(--surface-primary);
  --color-primary: var(--text-primary);
  --color-secondary: var(--text-secondary);
}
