@use './styles/variables.scss';
@use './styles/material.scss';
@import './styles/tailwind.css';

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--surface-primary);
  color: var(--text-primary);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: var(--google-base-font);
}

mat-form-field {
  *,
  ::before,
  ::after {
    border-style: none;
  }
}

.info-notification {
  --mat-snack-bar-container-color: var(--info-surface);
  --mat-snack-bar-supporting-text-color: var(--info-text);
    --mat-snack-bar-button-color: var(--info-text)
}

.error-notification {
  --mat-snack-bar-container-color: var(--error-surface);
  --mat-snack-bar-supporting-text-color: var(--error-text);
  --mat-snack-bar-button-color: var(--error-text)
}
